* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;     /* Opacity of an element's text, where 1 is opaque and 0 is entirely transparent. */

}

h2{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}

h3{
    color: #426696;
    font-weight: 600;
    opacity: 0.8;

}

main{
    font-family: "Poppins", sans-serif;
    min-height: 100vh;  /* the reason we use vh is to utilize the full size of the monitor here */
    background: linear-gradient(to right top,#65dfc9, #6cdbeb); /* mixing of 2 colors which will be mixed diagonal */
    display: flex;
    align-items:  center;
    justify-content: center;
}

.glass{
    background: white;
    min-height: 80vh;
    width: 60% ;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7),rgba(255, 255, 255,0.2));
    border-radius: 2rem;  
    z-index: 2;
    backdrop-filter: blur(2rem); /* to add the blur the glass effect*/
    display: flex;      /* display flex makes our content horizontal */

}

.circle1,
.circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.8),rgba(255, 255, 255,0.3));
    height: 20rem;
    width: 20rem;
    position: absolute;
   border-radius: 50%;
    
   
}
.circle1{

    /* background: red;   jst to check the blur effect of the circle */
    top: 5%;
    right:10%

}
.circle2{
    bottom: 5%;
    left: 10%;
}
.dashboard{
    
    flex: 1; /* this will take all the area to the left  */
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7),rgba(255, 255, 255,0.2));
    border-radius: 2rem;
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;

 }
 .link h2{
     padding: 0rem 2rem;
 }

 .games{
    
     flex: 2; /* we gave flex 1 so as to divide the are of the dashboard and games into 50-50 */
 }

 .pro{
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    border-radius: 2rem;
    padding: 1rem;
    position: relative;
    width: 80%;
    height: 16%;
    display: flex;
    align-items: flex-start;
    color: white;

 }

.pro img{
    position: absolute;
    top: -10%;
    right: 10%;

}
.pro h2{
    color: white;
    font-weight: 600;
}


/* GAMES */

.status{
    margin-bottom: 3rem;
}

.status input{
    background: linear-gradient(to right bottom, rgba(255, 255, 255,0.7),rgba(255, 255, 255,0.2)); /* to add glass effect to the input bar we used the same glass color */
    border: none; /* to remove border of the input bar */
    width: 50%;
    border-radius: 2rem;
    padding:  0.3rem;
    margin-top: 1rem;
}
.games{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card{
    display: flex;
    background: linear-gradient(to left bottom,
     rgba(255,255,255,0.8), rgba(255,255,255,0.5)) ;
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);/* this are the xyz coordinates for the card which represents direction to which the shadow of the card is*/ 
    justify-content: space-between;
}

.progress{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    width: 200%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;     /* the bar leaves the section so by adding overflow hidden we can disappear the overflowing bar */

}
.progress::after{
    /* we need to do this before and after the sudo general element */
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(236, 236, 236);
  position: absolute;
  left: 60%;

}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.percentage{
    font-weight: bold;
    background: linear-gradient(to right top,#65dfc9, #6cdbeb);
    -webkit-background-clip: text;     /* it clips the background to the text */
    -webkit-text-fill-color: transparent;     /* this will only show the background color which is the linear gradient clipping the front color */
}
